/* Estilos para el modo oscuro */
.dark-mode {
  --bg-color: #1a202c;
  --text-color: #cbd5e0;
  --sidebar-bg: #2d3748;
  --sidebar-text: #a0aec0;
  --border-color: #4a5568;
}

/* Custom styles for light mode */
.light-mode {
  --bg-color: #f7fafc;
  --text-color: #2d3748;
  --sidebar-bg: #edf2f7;
  --sidebar-text: #4a5568;
  --border-color: #e2e8f0;
}

/* Apply the custom properties */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
}

.border-custom {
  border-color: var(--border-color);
}

/* Animations */
.sidebar a {
  @apply transition-all ease-in-out duration-300;
}

.sidebar a:hover {
  border-bottom-width: 2px;
  transform: scale(1.05);
}

.rounded-full {
  @apply transition-all ease-in-out duration-300;
}

.rounded-full:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.social-icon {
  @apply transition-all ease-in-out duration-300;
}

.social-icon:hover {
  transform: scale(1.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
